  <footer class="bg-gray-800 text-white p-4  w-full col-span-full">
    <div class="container mx-auto">
        <div class="flex items-center justify-between">
            <div class="mb-4 md:mb-0">@Hecha por Juan Cruz Peralta - Página de Api's :D</div>
            <div class="flex flex-row gap-8 mr-8">
              <a href="https://github.com/juancruzperalta" class="mb-4 md:mb-0" target="_blank">GitHub</a>
              <a href="https://www.linkedin.com/in/juancruzperalta7/" class="mb-4 md:mb-0" target="_blank">LinkedIn</a>
            </div>

         </div>
    </div>
  </footer>