<main class="flex flex-col min-h-[90vh]">
  <section class="flex-grow">
    <div class="flex flex-col justify-center items-center p-4">
      <h1>Información de Users</h1>
      <form class="flex flex-col justify-center items-center mt-4 bg-zinc-600 p-6 rounded-md" id="formulario">
        <label>
          Ingresa un límite
          <input type="number" placeholder="aqui..." id="inputUsers" class="bg-zinc-800 ml-1 p-1 rounded-sm w-48" max="15" min="0">
        </label>
        <small class="text-gray-200 pt-1">Por ejemplo: 10</small>
        <button  type="submit" class="p-2 bg-zinc-800 rounded-md mt-4 hover:bg-zinc-700 w-48" id="button">Busque sus users</button>
      </form>
      <div class="flex flex-col justify-center items-start">
        <pre class="text-wrap" id="resultsUsers"></pre>
      </div>
    </div>
  </section>
</main>
<script>

const fetchApiUsers = (value) => {
  return fetch(
    `https://randomuser.me/api/?results=${value}`)
  .then((res) => res.json())
  .catch((err) => console.error(err));
}
const form = document.querySelector('#formulario');
const results = document.querySelector('#resultsUsers');

form.addEventListener('submit', async (event) => {
  event.preventDefault();
  const inputValue = document.querySelector('#inputUsers').value;
  if (inputValue === 0) return;
  
  console.log(inputValue);
  const infoP = await fetchApiUsers(inputValue);
  
  if (infoP) {
    results.innerHTML = JSON.stringify(infoP, null, 2);  
  }
});
</script>
